<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>箱体详情 - 百通e箱冷链容器租赁平台</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="target-densitydpi=device-dpi,width=1350,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../lib/layui/css/layui.css">
	<link rel="stylesheet" href="../css/myset.css">
	<link rel="stylesheet" href="../css/boxdetail.css">
	<!--[if lt IE 9]>
	    <script src="../js/html5.min.js"></script>
	    <script src="../js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="my-main">


		<div class="layui-container" id="prod-detail">
			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
				<img src="../images/box.jpg" width="90%" style="margin: 5%" />
			</div>
			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6 summary">
				<h2>智能冷链箱</h2>
				<p class="desc">冷藏箱选择滚塑工艺PU发泡材质，无论是在保温时间、耐冲击性、还是使用寿命等方面也都具有行业遥遥领先的优势，已被广泛应用于对温度要求苛刻的生物疫苗、血液制剂、药品等需低温冷链周转运输的行业中。</p>
				<div class="layui-row">
					<p class="layui-col-xs3 layui-col-sm3 layui-col-md3">型号：
						<span>A型号</span>
					</p>
					<p class="layui-col-xs3 layui-col-sm3 layui-col-md3">容量：
						<span>60L</span>
					</p>
					<p class="layui-col-xs6 layui-col-sm6 layui-col-md6">材质：
						<span>PE</span>
					</p>
					<p class="layui-col-xs6 layui-col-sm6 layui-col-md3">保温范围：
						<span>2~8℃</span>
					</p>
					<p class="layui-col-xs6 layui-col-sm6 layui-col-md6">尺寸：
						<span>100 mm* 40 mm*75 mm</span>
					</p>
				</div>
				<div class="layui-row price">
					<p>月租：
						<span>2500</span> 元 / 月</p>
					<p>次租：
						<span>100</span> 元 / 天</p>
				</div>
				<div class="layui-row">
					<p>有货：
						<span>广东省 - 广州市 - 天河区</span>
					</p>
				</div>
			</div>

		</div>
	</div>

	<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
	<script src="../lib/layui/layui.js"></script>	
	<script type="text/javascript" src="../js/function.js"></script>
	<script src="../js/islogin.js"></script>
</body>

</html>